<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.fontlab.v2.tth</key>
  <dict>
    <key>stems</key>
    <dict>
      <key>Y: 200</key>
      <dict>
        <key>width</key>
        <integer>200</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>14</key>
          <integer>2</integer>
          <key>24</key>
          <integer>3</integer>
          <key>38</key>
          <integer>4</integer>
          <key>49</key>
          <integer>5</integer>
          <key>57</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>Y: 182</key>
      <dict>
        <key>width</key>
        <integer>182</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>14</key>
          <integer>2</integer>
          <key>24</key>
          <integer>3</integer>
          <key>38</key>
          <integer>4</integer>
          <key>49</key>
          <integer>5</integer>
          <key>62</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>X: 250</key>
      <dict>
        <key>width</key>
        <integer>250</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>14</key>
          <integer>2</integer>
          <key>24</key>
          <integer>3</integer>
          <key>29</key>
          <integer>4</integer>
          <key>38</key>
          <integer>5</integer>
          <key>46</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>X: 225</key>
      <dict>
        <key>width</key>
        <integer>225</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>14</key>
          <integer>2</integer>
          <key>24</key>
          <integer>3</integer>
          <key>29</key>
          <integer>4</integer>
          <key>38</key>
          <integer>5</integer>
          <key>51</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>X: 268</key>
      <dict>
        <key>width</key>
        <integer>268</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>14</key>
          <integer>2</integer>
          <key>24</key>
          <integer>3</integer>
          <key>29</key>
          <integer>4</integer>
          <key>38</key>
          <integer>5</integer>
          <key>43</key>
          <integer>6</integer>
        </dict>
      </dict>
    </dict>
  </dict>
  <key>com.typemytype.robofont.guides</key>
  <array>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>-21</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>-417</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>-654</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>672</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>1824</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>1147</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>837</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>200</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>647</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>1726</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>2040</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>1433</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>1678</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>545</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>2148</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>2081</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>1997</real>
    </dict>
  </array>
  <key>public.glyphOrder</key>
  <array>
    <string>a</string>
    <string>n</string>
    <string>i</string>
    <string>h</string>
    <string>A</string>
    <string>D</string>
    <string>H</string>
    <string>E</string>
    <string>S</string>
    <string>I</string>
    <string>O</string>
    <string>N</string>
    <string>o</string>
    <string>d</string>
    <string>s</string>
    <string>e</string>
    <string>period</string>
    <string>space</string>
    <string>exclam</string>
    <string>q</string>
    <string>b</string>
    <string>p</string>
    <string>k</string>
    <string>m</string>
    <string>u</string>
    <string>w</string>
    <string>v</string>
    <string>z</string>
    <string>x</string>
    <string>c</string>
    <string>f</string>
    <string>y</string>
    <string>t</string>
    <string>j</string>
    <string>T</string>
    <string>V</string>
    <string>Z</string>
    <string>X</string>
    <string>L</string>
    <string>J</string>
    <string>W</string>
    <string>Y</string>
    <string>Q</string>
    <string>M</string>
    <string>K</string>
    <string>F</string>
    <string>P</string>
    <string>R</string>
    <string>U</string>
    <string>B</string>
    <string>l</string>
    <string>g</string>
    <string>dotlessi</string>
    <string>bracketleft</string>
    <string>r</string>
    <string>C</string>
    <string>G</string>
    <string>Oslash</string>
    <string>oslash</string>
    <string>kgreenlandic</string>
    <string>thorn</string>
    <string>ae</string>
    <string>oe</string>
    <string>hbar</string>
    <string>ldot</string>
    <string>lslash</string>
    <string>Thorn</string>
    <string>OE</string>
    <string>AE</string>
    <string>periodcentered</string>
    <string>plus</string>
    <string>divide</string>
    <string>plusminus</string>
    <string>hyphen</string>
    <string>endash</string>
    <string>emdash</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>comma</string>
    <string>bullet</string>
    <string>exclamdown</string>
    <string>one</string>
    <string>zero</string>
    <string>eth</string>
    <string>paragraph</string>
    <string>section</string>
    <string>equal</string>
    <string>bar</string>
    <string>brokenbar</string>
    <string>slash</string>
    <string>backslash</string>
    <string>numbersign</string>
    <string>cent</string>
    <string>dollar</string>
    <string>bracketright</string>
    <string>parenright</string>
    <string>parenleft</string>
    <string>yen</string>
    <string>Euro</string>
    <string>asciicircum</string>
    <string>quotesingle</string>
    <string>quotedbl</string>
    <string>less</string>
    <string>greater</string>
    <string>underscore</string>
    <string>minus</string>
    <string>Ldot</string>
    <string>Lslash</string>
    <string>acute</string>
    <string>grave</string>
    <string>dieresis</string>
    <string>Adieresis</string>
    <string>adieresis</string>
    <string>Aacute</string>
    <string>aacute</string>
    <string>Agrave</string>
    <string>Oacute</string>
    <string>Ograve</string>
    <string>Odieresis</string>
    <string>agrave</string>
    <string>mu</string>
    <string>logicalnot</string>
    <string>nbspace</string>
    <string>CR</string>
    <string>Ydieresis</string>
    <string>Udieresis</string>
    <string>Idieresis</string>
    <string>Edieresis</string>
    <string>Eacute</string>
    <string>Egrave</string>
    <string>Iacute</string>
    <string>Igrave</string>
    <string>IJ</string>
    <string>Nacute</string>
    <string>Racute</string>
    <string>Uacute</string>
    <string>Ugrave</string>
    <string>odieresis</string>
    <string>ograve</string>
    <string>oacute</string>
    <string>eacute</string>
    <string>egrave</string>
    <string>edieresis</string>
    <string>iacute</string>
    <string>igrave</string>
    <string>idieresis</string>
    <string>ij</string>
    <string>nacute</string>
    <string>uacute</string>
    <string>ugrave</string>
    <string>udieresis</string>
    <string>yacute</string>
    <string>ydieresis</string>
    <string>Yacute</string>
    <string>degree</string>
    <string>ring</string>
    <string>ring.cap</string>
    <string>aring</string>
    <string>Aring</string>
    <string>asciitilde</string>
    <string>tilde</string>
    <string>atilde</string>
    <string>Atilde</string>
    <string>macron</string>
    <string>cedilla</string>
    <string>ccedilla</string>
    <string>Otilde</string>
    <string>otilde</string>
    <string>ntilde</string>
    <string>Ntilde</string>
    <string>Ccedilla</string>
    <string>circumflex</string>
    <string>acircumflex</string>
    <string>ucircumflex</string>
    <string>Acircumflex</string>
    <string>Ocircumflex</string>
    <string>Icircumflex</string>
    <string>Itilde</string>
    <string>Ecircumflex</string>
    <string>icircumflex</string>
    <string>ocircumflex</string>
    <string>Eth</string>
    <string>caron</string>
    <string>rcaron</string>
    <string>Rcaron</string>
    <string>Ucircumflex</string>
    <string>itilde</string>
    <string>jcircumflex</string>
    <string>ecircumflex</string>
    <string>Jcircumflex</string>
    <string>asterisk</string>
    <string>quoteleft</string>
    <string>rcommaaccent</string>
    <string>Kcommaaccent</string>
    <string>Rcommaaccent</string>
    <string>kcommaaccent</string>
    <string>percent</string>
    <string>currency</string>
    <string>quoteright</string>
    <string>quotesinglbase</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quotedblbase</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>question</string>
    <string>questiondown</string>
    <string>multiply</string>
    <string>sterling</string>
    <string>braceleft</string>
    <string>braceright</string>
    <string>twosuperior</string>
    <string>threesuperior</string>
    <string>onesuperior</string>
    <string>onequarter</string>
    <string>onehalf</string>
    <string>threequarters</string>
    <string>germandbls</string>
    <string>at</string>
    <string>.notdef</string>
    <string>ellipsis</string>
    <string>copyright</string>
    <string>registered</string>
    <string>ampersand</string>
    <string>ordfeminine</string>
    <string>ordmasculine</string>
    <string>trademark</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>guillemotleft</string>
    <string>guillemotright</string>
    <string>Zcaron</string>
    <string>zcaron</string>
    <string>scaron</string>
    <string>Scaron</string>
    <string>perthousand</string>
    <string>florin</string>
    <string>dagger</string>
    <string>daggerdbl</string>
    <string>uni00AD</string>
    <string>integral</string>
    <string>approxequal</string>
    <string>dotaccent</string>
    <string>notequal</string>
    <string>radical</string>
    <string>Zacute</string>
    <string>fraction</string>
    <string>Dcroat</string>
    <string>f_f</string>
    <string>NULL</string>
    <string>uni00A0</string>
    <string>Imacron</string>
    <string>Amacron</string>
    <string>breve</string>
    <string>uni0300</string>
    <string>uni0300.cap</string>
    <string>uni0301</string>
    <string>uni0301.cap</string>
    <string>uni0302</string>
    <string>uni0302.cap</string>
    <string>uni030C</string>
    <string>uni030C.cap</string>
    <string>uni0303</string>
    <string>uni0303.cap</string>
    <string>uni0304</string>
    <string>uni0304.cap</string>
    <string>uni0306</string>
    <string>uni0306.cap</string>
    <string>uni0308</string>
    <string>uni0308.cap</string>
    <string>uni030A</string>
    <string>uni030A.cap</string>
    <string>uni0307</string>
    <string>uni0307.cap</string>
    <string>uni030B</string>
    <string>uni030B.cap</string>
    <string>uni0312</string>
    <string>uni0312.cap</string>
    <string>uni0315</string>
    <string>uni0323</string>
    <string>uni0326</string>
    <string>uni0327</string>
    <string>uni0328</string>
    <string>f_f_i</string>
    <string>uniFB02</string>
    <string>uniFB01</string>
    <string>f_f_l</string>
    <string>uni0237</string>
    <string>ogonek</string>
    <string>amacron</string>
    <string>abreve</string>
    <string>uni1EA1</string>
    <string>aogonek</string>
    <string>aeacute</string>
    <string>cacute</string>
    <string>ccircumflex</string>
    <string>ccaron</string>
    <string>cdotaccent</string>
    <string>dcaron</string>
    <string>dcroat</string>
    <string>ecaron</string>
    <string>uni1EBD</string>
    <string>emacron</string>
    <string>ebreve</string>
    <string>edotaccent</string>
    <string>uni1EB9</string>
    <string>eogonek</string>
    <string>gcircumflex</string>
    <string>gbreve</string>
    <string>gdotaccent</string>
    <string>gcommaaccent</string>
    <string>hcircumflex</string>
    <string>imacron</string>
    <string>ibreve</string>
    <string>uni1ECB</string>
    <string>jacute</string>
    <string>lacute</string>
    <string>lcaron</string>
    <string>lcommaaccent</string>
    <string>ncaron</string>
    <string>ncommaaccent</string>
    <string>omacron</string>
    <string>obreve</string>
    <string>ohungarumlaut</string>
    <string>uni1ECD</string>
    <string>oslashacute</string>
    <string>racute</string>
    <string>sacute</string>
    <string>scircumflex</string>
    <string>scommaaccent</string>
    <string>scedilla</string>
    <string>tcaron</string>
    <string>tcommaaccent</string>
    <string>tcedilla</string>
    <string>tbar</string>
    <string>utilde</string>
    <string>umacron</string>
    <string>ubreve</string>
    <string>uring</string>
    <string>uhungarumlaut</string>
    <string>uni1EE5</string>
    <string>wgrave</string>
    <string>wacute</string>
    <string>wcircumflex</string>
    <string>wdieresis</string>
    <string>ygrave</string>
    <string>ycircumflex</string>
    <string>uni1EF9</string>
    <string>uni1EF5</string>
    <string>zacute</string>
    <string>zdotaccent</string>
    <string>hungarumlaut</string>
    <string>quotereversed</string>
    <string>uni1EAC</string>
    <string>Abreve</string>
    <string>uni1EA0</string>
    <string>Aogonek</string>
    <string>Aringacute</string>
    <string>Ecaron</string>
    <string>Emacron</string>
    <string>Ebreve</string>
    <string>Dcaron</string>
    <string>uni1EB6</string>
    <string>AEacute</string>
    <string>Ccaron</string>
    <string>Ccircumflex</string>
    <string>Cacute</string>
    <string>Cdotaccent</string>
    <string>Gbreve</string>
    <string>Gdotaccent</string>
    <string>Gcommaaccent</string>
    <string>Hcircumflex</string>
    <string>Hbar</string>
    <string>Zdotaccent</string>
    <string>Wgrave</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Ygrave</string>
    <string>Ycircumflex</string>
    <string>uni1EF8</string>
    <string>uni1EF4</string>
    <string>Umacron</string>
    <string>Ubreve</string>
    <string>Uring</string>
    <string>Uhungarumlaut</string>
    <string>uni1EE4</string>
    <string>Uogonek</string>
    <string>Utilde</string>
    <string>Tbar</string>
    <string>uni0162</string>
    <string>uni021A</string>
    <string>Tcaron</string>
    <string>uni1E9E</string>
    <string>Scedilla</string>
    <string>Scommaaccent</string>
    <string>Sacute</string>
    <string>Scircumflex</string>
    <string>Oslashacute</string>
    <string>uni1ECC</string>
    <string>Ohungarumlaut</string>
    <string>Obreve</string>
    <string>Omacron</string>
    <string>uni1ED8</string>
    <string>Ncommaaccent</string>
    <string>Ncaron</string>
    <string>Jacute</string>
    <string>Lacute</string>
    <string>Lcaron</string>
    <string>Lcommaaccent</string>
    <string>Iogonek</string>
    <string>uni1ECA</string>
    <string>Idotaccent</string>
    <string>Ibreve</string>
    <string>uni1EC6</string>
    <string>uni1EBC</string>
    <string>Edotaccent</string>
    <string>uni1EBA</string>
    <string>uni1EB8</string>
    <string>Eogonek</string>
    <string>Gcircumflex</string>
    <string>ij_acutecomb</string>
    <string>IJ_acutecomb</string>
  </array>
</dict>
</plist>
